html {
    background-color: rgb(6, 30, 114);
    background-image: url();
    font-family: 'Pangolin', cursive;
}

#title {
    opacity: .75;
    color: rgb(40, 190, 50);
    text-align: center;
    font-size: 4em;
    margin: 0 auto 25px;
    text-shadow: 2px 2px 2px black;
}

#titleBox {
    background-image: url(https://1.bp.blogspot.com/-ocY523Rzyxc/YKbFnHjd0EI/AAAAAAAAKG4/_RUYKo9QYm8DU2pzqFPWkOxWNrSE_wVQQCLcBGAsYHQ/s3317/zelda_amiibo_smash.jpg);
    width: cover;
    height: 200px;
    background-size: cover;
    display: flex;
    align-items: center;
    border-radius: 50%;
    
}


#plyrBoxCntnr {
    display: flex;
    justify-content: space-around;
    flex-direction:row;
    flex-wrap: nowrap;
    margin: 10px auto;
}

.plyrPhotos {
    display: flex;
    flex-direction: row;

   
}

#plyr1Box {
    text-align: center;
    background-color: rgb(40, 190, 50);
    border-top-left-radius: 15%;
    border-top-right-radius: 15%; 

}

#plyr2Box {
    text-align: center;
    background-color: rgb(40, 190, 50);
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;

}

#plyr1Photo1 img {
    max-width: 350px;   
}

#plyr1Photo2 img {
    max-width: 350px;  
}

#plyr2Photo1 img {
    max-width: 350px;  
}

#plyr2Photo2 img {
    max-width: 350px;  
}